<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expense</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff; 
            color: #333; 
            align-content: center;
        }

        header {
            background-color: #ff8c00; 
            color: #fff; 
            padding: 10px;
            text-align: center;
        }

        main {
            padding: 20px;
        }



    </style>
</head>

<body>

    <header>
        <h1>Edit Expense</h1>
    </header>

    <main>
        <form th:action="@{/expenses/update}" method="post" th:object="${expense}">
            <input type="hidden" th:field="*{id}" />
            
            <label for="amount">Amount:</label>
            <input type="number" id="amount" th:field="*{amount}" placeholder="Amount" min="0" step="0.01" />
            
            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" placeholder="Description" />

            <input type="hidden" id="date" th:field="*{date}" placeholder="Date" />
            
            <button type="submit">Update</button>
        </form>
    </main>

</body>

</html>
